@model IEnumerable<Extra>

@{
    ViewData["Title"] = "Index";
}

<h1>Extras</h1>

<p>
    <a class="btn btn-ghost-success" asp-action="Create"><i class="fas fa-plus-circle"></i></a>
</p>
<table class=" table table-striped ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg class="icon">
                                <use xlink:href="vendors/coreui/icons/svg/free.svg#cil-options"></use>
                            </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end text-center">
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ExtraId"><i class="fas fa-pen"></i></a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ExtraId"><i class="fas fa-trash"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
