@model BurgerCodeApp.Models.Basket

@{
    ViewData["Title"] = "Delete";
}
<div class="text-end">
    <a class="btn btn-ghost-danger text-end rounded-circle border" asp-action="UserBasketDetails" asp-route-email="@Model.AppUser.Email"><i class="fas fa-times "></i></a>

</div>

<h3>Are you sure you want to delete this Basket?</h3>
<div>
   
    <hr />
    <dl class="row alert alert-danger">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.UserName)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BasketId" />
        <input type="submit" value="Delete" class="btn btn-danger m-2" /> 
    
    </form>
</div>
