@using BurgerCodeApp.Models.Enums;
@model IEnumerable<Basket>
<div class="text-end">
    <a class="btn btn-ghost-danger" asp-action="Index"><i class="fas fa-times"></i></a>
</div>
<div class="text-bold">
    <p>User Name: @Model.Select(x=>x.AppUser.UserName).FirstOrDefault() </p>
    <p> E-Mail: @Model.Select(x=>x.AppUser.Email).FirstOrDefault() </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasketId)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th> 
            <th>
                Stage
            </th> 
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BasketId)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.Stage)
                </td> 
               
                <td>
                </td> 
                <td>

                    <div class="dropdown d-inline">
                        <button class="btn btn-transparent p-0" type="button" data-coreui-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-caret-square-down"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end text-center">
                            <a asp-action="Edit" asp-route-id="@item.BasketId"><i class="fas fa-pen"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.BasketId">Details</a> |
                        </div>
                    </div>
                    <a class="btn btn-ghost-danger" href="/Admin/Baskets/Delete/@item.BasketId" @(item.Stage != BasketStage.Active ? "hidden" : "")><i class="fas fa-trash-alt"></i></a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
