@using BurgerCodeApp.Models.Enums;
@model IEnumerable<Basket>

<div class="text-bold">
    <p>User Name: @Model.Select(x=>x.AppUser.UserName).FirstOrDefault() </p>
    <p> E-Mail: @Model.Select(x=>x.AppUser.Email).FirstOrDefault() </p>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasketId)
            </th> 
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th> 
            <th>
                Stage
            </th> 
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BasketId)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.Stage)
                </td> 
               
                <td>
                </td> 
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BasketId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BasketId">Details</a> |
                    <a class="btn btn-ghost-danger" href="/Admin/Baskets/Delete/@item.BasketId" @(item.Stage != BasketStage.Active ? "hidden" : "")><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
