@model IEnumerable<BurgerCodeApp.Models.Menu>

@{
    ViewData["Title"] = "All Menus";
}

<h1 class="display-4 text-center m-2">All Menus</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleStatus)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleStatus)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.MenuId"><i class="fas fa-pen"></i></a> 
                    <a class="btn btn-success" asp-action="AddProduct" asp-route-id="@item.MenuId"><i class="fas fa-wrench"></i></a> 
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center m-2">
    <a class="btn btn-primary border" asp-action="Create"><i class="fas fa-plus-square"></i> New Menu</a>
</div>
