@model BurgerCodeApp.Models.BasketVm

@{
    ViewData["Title"] = "Details";
}




<!-- Reservation Start -->
<div class="container-xxl py-1 px-2 wow fadeInUp " data-wow-delay="0.1s">
    <div class="row g-0 align-items-center border rounded-pill rounded-end">
        <div class="col-md-6 ">
            <div>
                <img class="flex-shrink-0 img-fluid rounded" src="@Model.PicturePath" alt="" style="width: 600px;">
                <span></span>

            </div>
        </div>
        <div class="col-md-6 bg-white d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
                <h1 class="text-dark mb-4 ff-secondary ">@Model.MenuName</h1>
                <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>

                <form asp-action="details" method="post" id="myForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                            </div>
                        </div>
                        <div class="col-md-6 text-end">
                            <div class="form-floating">
                                <h5 class="text-primary "><span>$</span><span id="price">@Model.MenuPrice</span></h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <div class="form-check">
                                    <input class="form-check-input radio" type="radio" value="1" id="flexRadioDefault1" asp-for="Size" onchange="calculateTotal()" checked />
                                    <label class="form-check-label" for="flexRadioDefault1" asp-for="Size">
                                        Küçük
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input radio" type="radio" value="2" id="flexRadioDefault2" asp-for="Size" onchange="calculateTotal()" />
                                    <label class="form-check-label " for="flexRadioDefault2" asp-for="Size">
                                        Orta
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input radio " type="radio" value="3" id="flexRadioDefault3" for="Size" asp-for="Size" onchange="calculateTotal()" />
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        Büyük
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating ">
                                <div class="form-group d-flex justify-content-end align-items-center">

                                    <input class="form-control w-25 border-0 border-bottom " type="number" asp-for="Quantity" min="1" max="100" value="1" oninput="calculateTotal()" />
                                    <label class="form-check-label ms-2 " asp-for="Quantity">Pc. </label>
                                </div>
                            </div>
                        </div>
                        <label class="mb-0 mt-2 ff-secondary">
                            Soslar
                        </label>
                        <div class="col-12 mt-0">
                            <div class="form-floating  alert alert-primary">

                                @{
                                    int i = 0;
                                }
                                @foreach (var item in ViewBag.Extras)
                                {
                                    <div class="form-check d-inline-flex">
                                        <input type="checkbox" class="m-1 sauce" id="@(i)" value="@item.ExtraId" data-price="@item.Price" name="Extras" onchange="calculateTotal()" />
                                        <label class="form-check-label" for="@(i++)">
                                            @item.Name
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div>
                            <input type="" asp-for="MenuId" class="invisible" readonly />
                        </div>
                        <div class="col-12">
                            <button type="button" id="submitbtn" class="btn btn-primary w-100 py-3 rounded-pill rounded-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Add to Chart
                            </button>
                            @* <button class="btn btn-primary w-100 py-3 rounded-pill rounded-end" type="submit">Add to Chart</button>*@
                        </div>
                    </div>

                    @*Modal start*@
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h1 class="modal-title fs-5 ff-secondary" id="staticBackdropLabel">"Great! The product has been added to your cart!</h1>
                                </div>
                                <div class="modal-body text-center">
                                    Product Added to Cart!
                                </div>
                                <div class="modal-footer d-flex justify-content-between">
                                    <div>
                                        Go To
                                        <a class="btn btn-primary rounded-pill " asp-controller="Menus" asp-action="index" asp-route-filter="Menus">Menus</a>
                                        <a class="btn btn-primary rounded-pill " asp-controller="Menus" asp-action="index" asp-route-filter="Burger">Burgers</a>
                                        

                                    </div>
                                    <a type="submit" class="btn btn-danger rounded-pill rounded-start " asp-controller="basketdetails" asp-action="basket">Go To Basket</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#submitbtn").click(function (event) {
                event.preventDefault();

              //   AJAX isteği burada gerçekleştirilecek
                 $.ajax({
                     url: "",
                     method: "POST",
                     data: $("#myForm").serialize(),
                     success: function (response) {
                         console.log("İstek başarıyla gönderildi.");
                     },
                     error: function (xhr, status, error) {
                         console.log("Bir hata oluştu. İstek gönderilemedi.");
                     }
                 });
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js">
    </script>
    <script>

        function calculateTotal() {
                    var adetInput = document.getElementById("Quantity");
                    var adet = parseFloat(adetInput.value);
                    var temelFiyat = parseFloat(@Model.MenuPrice); // Temel fiyat

                    var boyutInputs = document.getElementsByName("Size");
                    var seciliBoyut;
                    for (var i = 0; i < boyutInputs.length; i++) {
                        if (boyutInputs[i].checked) {
                            seciliBoyut = boyutInputs[i].value;
                            break;
                        }
                    }

                    var sosInputs = document.querySelectorAll('input[type="checkbox"]:checked');


                    if (seciliBoyut == 1) {
                        temelFiyat += 0; // Küçük boyut
                    } else if (seciliBoyut == 2) {
                        temelFiyat += parseFloat(@Model.MenuPrice) * (0.2); // Orta boyut fiyatı ekle
                    } else if (seciliBoyut == 3) {
                        temelFiyat += parseFloat(@Model.MenuPrice) * (0.3);// Büyük boyut fiyatı ekle
                    }

                    for (var j = 0; j < sosInputs.length; j++) {
                        var sauceprice = parseFloat(sosInputs[j].getAttribute("data-price"));
                        temelFiyat += sauceprice; // Her seçilen sos için fiyat ekle
                    }

                    var toplamFiyat = temelFiyat * adet; // Başlangıçta temel fiyat * adet
                    var toplamFiyatLabel = document.getElementById("price");
                    toplamFiyatLabel.textContent = toplamFiyat;
                }

    </script>
}
