@model BurgerCodeApp.Models.BasketVm

@{
    ViewData["Title"] = "Details";
}



<div>
    @*  <h4>BasketDetail</h4>
    <hr />
    <form asp-action="details" method="post">
    <div class="d-flex align-items-center">
    <img class="flex-shrink-0 img-fluid rounded" src="@Model.PicturePath" alt="" style="width: 600px;">
    <div class=" d-flex flex-column text-start ps-4">
    <h5 class="d-flex justify-content-between border-bottom pb-2">
    <span>@Model.MenuName</span>
    <span class="text-primary">$115</span>
    </h5>
    <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>
    <div class="d-flex flex-row justify-content-end mb-0 px-3">

    @foreach (var item in ViewBag.Extras)
    {
    <div class="form-check d-inline-flex">
    <input type="checkbox" name="Extras" value="@item.ExtraId" />
    <label class="form-check-label" for="SelectedToppings">
    @item.Name
    </label>
    </div>
    }

    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" value="1" id="flexRadioDefault1" asp-for="Size">
    <label class="form-check-label" for="flexRadioDefault1" asp-for="Size">
    Küçük
    </label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" value="2" id="flexRadioDefault2" asp-for="Size">
    <label class="form-check-label" for="flexRadioDefault2" asp-for="Size">
    Orta
    </label>
    </div>
    <div class="form-check">
    <input class="form-check-input" type="radio" value="3" id="flexRadioDefault3" for="Size" asp-for="Size">
    <label class="form-check-label" for="flexRadioDefault3" >
    Büyük
    </label>
    </div>
    <div class="form-group">
    <label class="form-check-label" asp-for="Quantity">Quantity</label>
    <input class="form-control w-25" type="number" asp-for="Quantity" />
    </div>
    <div>
    <input type="" asp-for="MenuId" class="invisible" readonly />
    </div>
    <button type="submit" class="btn btn-warning w-75 text-center "> Sipariş ver</button>
    </div>
    </div>
    </form>*@
</div>

<!-- Reservation Start -->
<div class="container-xxl py-1 px-2 wow fadeInUp " data-wow-delay="0.1s">
    <div class="row g-0 align-items-center border rounded-pill rounded-end">
        <div class="col-md-6 ">
            <div>
                <img class="flex-shrink-0 img-fluid rounded" src="@Model.PicturePath" alt="" style="width: 600px;">
                <span></span>

            </div>
        </div>
        <div class="col-md-6 bg-white d-flex align-items-center">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
                <h1 class="text-dark mb-4 ff-secondary ">@Model.MenuName</h1>
                <small class="fst-italic">Ipsum ipsum clita erat amet dolor justo diam</small>

                <form asp-action="details" method="post">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                @*<div class="display-5">@Model.MenuName</div>*@
                            </div>
                        </div>
                        <div class="col-md-6 text-end">
                            <div class="form-floating">
                                <h5 class="text-primary "><span>$</span><span id="price">@Model.MenuPrice</span></h5>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <div class="form-check">
                                    <input class="form-check-input radio" type="radio" value="1" id="flexRadioDefault1" asp-for="Size" onchange="calculateTotal()" checked />
                                    <label class="form-check-label" for="flexRadioDefault1" asp-for="Size">
                                        Küçük
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input radio" type="radio" value="2" id="flexRadioDefault2" asp-for="Size" onchange="calculateTotal()" />
                                    <label class="form-check-label " for="flexRadioDefault2" asp-for="Size">
                                        Orta
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input radio " type="radio" value="3" id="flexRadioDefault3" for="Size" asp-for="Size" onchange="calculateTotal()" />
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        Büyük
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating ">
                                <div class="form-group d-flex justify-content-end align-items-center">

                                    <input class="form-control w-25 border-0 border-bottom " type="number" asp-for="Quantity" min="1" max="100" value="1" oninput="calculateTotal()" />
                                    <label class="form-check-label ms-2 " asp-for="Quantity">Pc. </label>
                                </div>
                            </div>
                        </div>
                        <label class="mb-0 mt-2 ff-secondary">
                            Soslar
                        </label>
                        <div class="col-12 mt-0">
                            <div class="form-floating  alert alert-primary">

                                @{
                                    int i = 0;
                                }
                                @foreach (var item in ViewBag.Extras)
                                {
                                    <div class="form-check d-inline-flex">
                                        <input type="checkbox" class="m-1 sauce" id="@(i)" value="@item.ExtraId" name="Extras" onchange="calculateTotal()" />
                                        <label class="form-check-label" for="@(i++)">
                                            @item.Name
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div>
                            <input type="" asp-for="MenuId" class="invisible" readonly />
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //var label = document.getElementById("price");
        //var price = parseFloat(label.textContent)
        //var checkboxes = document.getElementsByClassName("sauce");
        //for (var i = 0; i < checkboxes.length; i++) {
        //    checkboxes[i].addEventListener("change", function () {
        //         price = parseFloat(label.textContent)
        //        var sauceprice = parseFloat(this.getAttribute("name"));
        //        console.log(sauceprice)
        //        if (this.checked) {
        //            var totalprice = price + sauceprice
        //            label.innerText = totalprice;
        //            price = totalprice;
        //        } else {
        //            var totalprice = price - sauceprice
        //            label.innerText = totalprice;
        //            price = totalprice;
        //        }
        //    });
        //}

        //var selectedRadioValue = 0;
        //var previousRadioValue = 0;
        //var totalAmountLabel = document.getElementById("price");

        //function updateAmount(radio) {
        //    // Seçilen radio düğmesinin değerini al
        //    selectedRadioValue = parseInt(radio.value) > 1 ? ((parseFloat(@Model.MenuPrice) * parseInt(radio.value)) / 10) : 0;

        //    // Önceki eklemeyi kaldır
        //    totalAmountLabel.textContent = parseFloat(totalAmountLabel.textContent) - previousRadioValue;
        //    price = parseFloat(totalAmountLabel.textContent) - previousRadioValue;
        //    // Yeni miktarı ekle
        //    totalAmountLabel.textContent = parseFloat(totalAmountLabel.textContent) + selectedRadioValue;
        //    price = parseFloat(totalAmountLabel.textContent) + selectedRadioValue;
        //    // Önceki değeri güncelle
        //    previousRadioValue = selectedRadioValue;
        //}
   
        //function updateLabel() {
        //    // Adet değerini al
        //    var adetInput = document.getElementById("Quantity");
        //    var adet = parseInt(adetInput.value);

        //    // Etiketi güncelle
        //    var guncellenenLabel = document.getElementById("price");
        //    //var price = parseFloat(guncellenenLabel.textContent)
        //    var totprice = price * adet
        //    guncellenenLabel.textContent = totprice;
        //}
        function calculateTotal() {
            var adetInput = document.getElementById("Quantity");
            var adet = parseFloat(adetInput.value);
            var temelFiyat = parseFloat(@Model.MenuPrice); // Temel fiyat

            var boyutInputs = document.getElementsByName("Size");
            var seciliBoyut;
            for (var i = 0; i < boyutInputs.length; i++) {
                if (boyutInputs[i].checked) {
                    seciliBoyut = boyutInputs[i].value;
                    break;
                }
            }

            var sosInputs = document.querySelectorAll('input[type="checkbox"]:checked');
            

            if (seciliBoyut ==1) {
                temelFiyat += 5; // Küçük boyut fiyatı ekle
            } else if (seciliBoyut == 2) {
                temelFiyat += 10; // Orta boyut fiyatı ekle
            } else if (seciliBoyut == 3) {
                temelFiyat += 15; // Büyük boyut fiyatı ekle
            }

            for (var j = 0; j < sosInputs.length; j++) {
                temelFiyat += 2; // Her seçilen sos için 2 birim fiyat ekle
            }

            var toplamFiyat = temelFiyat * adet; // Başlangıçta temel fiyat * adet
            var toplamFiyatLabel = document.getElementById("price");
            toplamFiyatLabel.textContent = toplamFiyat;
        }
   
    </script>
}
